__pycache__/
*.py[cod]
.env*/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
*.log
MANIFEST

# Frontend
node_modules

# Config
*.cfg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Sphinx documentation
docs/_build/

# Editors
.idea
